@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

.card {
  border: solid 1px #ebebeb;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  box-shadow: 0 0 10px 0 #e3e5e9;
  margin: 1em auto;
}

.card-item,
.card-ratings,
.card-attributes,
.card-url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-ratings h2 {
  font-size: 3rem;
  margin: 0.2em auto;
  font-weight: 400;
}

.card-ratings h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5em auto;
}

.card-image {
  margin: 1em auto;
}

.card-image img {
  margin: 0;
}

.card-attributes h4 {
  text-transform: uppercase;
}

.card-attributes p {
  margin: 0.2em auto;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
}

.card-url a {
  background-color: #3e5869;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0.5em auto;
  border-radius: 10px;
  min-width: 120px;
}
.card-url a:hover {
  background-color: #000;
}

@media (min-width: 768px) {
  .card-item {
    flex-direction: row;
  }
  .card-item,
  .card-ratings,
  .card-image,
  .card-attributes,
  .card-url {
    margin: 0 1em;
  }
}
